<div class="row">
  <div class="col-sm-6">
    <h1><%= @project.title %> </h1>
      <p class="lead">  A <%= link_to @project.user.first_name + " " + @project.user.last_name, "/users/#{@project.user_id}" %> Project </p>
	</div>
</div>
