<div class="col-sm-4 col-sm-offset-2 well">
    <p>User accounts:</p>

    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>bob@example.org</td>
          <td>Hope4All</td>
        </tr>
        <tr>
          <td>ayn@example.org</td>
          <td>Hope4Some</td>
        </tr>
        <tr>
          <td>barry@example.org</td>
          <td>Hope4Change</td>
        </tr>
        <tr>
          <td>hannah@example.org</td>
          <td>Hope4Hope</td>
        </tr>
      </tbody>
    </table>

  </div>
